﻿body {
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #fbfbfb;
    background: url(../imagem/Planodefundo.png) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: auto;
    width: 970px !important;
}

navbar-brand {
    line-height: 0px !important;
}

.center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 80% !important;
    margin: auto !important;
    margin-bottom: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}

    table td:first-child {
        text-align: left !important;
    }

.table > tbody > tr > td {
    padding: 5px 0px 5px 12px !important;
    border-top: 0px white !important;
    vertical-align: middle !important;
    border-right: 1px solid;
    text-align: center;
}

table tr, th {
    border-bottom: 1px solid #000000 !important;
}


/*tr:last-child
{
    border-bottom:0px solid white;
}*/

/*td:first-child {
    border-top-left-radius: 15px;
}

td:last-child {
    border-top-right-radius: 15px;
}

td:first-child {
    border-bottom-left-radius: 15px;
}

td:last-child {
    border-bottom-right-radius: 15px;
}*/

.cabecalho {
    background-color: #ededed;
    border: none;
    border-bottom: 1px solid #cecece;
    padding-bottom: 7px;
    padding-top: 7px;
}

.paragrafo {
    line-height: 2;
    margin: 10px 0 10px !important;
}

.checkbox-inline {
    vertical-align: top !important;
}

#ContentPlaceHolder1_txtNome {
    width: 60%;
    margin-bottom: 5px;
}

#ContentPlaceHolder1_txtMatricula {
    width: 20%;
}

.titulo {
    border-radius: 5px;
    background-color: white;
    display: flex;
    width: 970px;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
}

.corpo {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 4%;
    padding-right: 5px;
    padding-left: 5px;
}

#Tabela {
    padding: 0 0 20px 0;
}

.textCentralizar {
    font-weight: bold;
}

.textLocalData {
    text-align: center;
    font-weight: bold;
}

.tituloPrincipal {
    margin-left: 24% !important;
    color: #0072C6;
}

.centralizarDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pgConcluidoDiv {
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;
    padding: 40px;
    display: flex;
}

.pgConcluidoTexto {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.btnCentralizar {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.link {
    color: #12609a;
    text-decoration: underline;
    font-size: 15px;
}

.divLink {
    padding: 0 0 0 20px;
    float: left;
}

.messagealert {
    width: 100%;
    /*position: fixed;*/
    top: 0px;
    z-index: 100000;
    padding: 0;
    font-size: 15px;
}
